*.zip
*.class
target/
*.swp
*.iml
*.ipr
*.iws
.DS_Store
.idea/
.classpath
.ekstazi
.project
.settings
.checkstyle
*.log
id_file
*.epoch
.factorypath
.pmd
.sonar/
.deploy
/soms-allot/soms-allot-main/src/test/java/com/jd/soms/allot/manager/demo/Demo2.java
/soms-allot/soms-allot-main/src/test/java/com/jd/soms/allot/manager/demo/Demo3.java
